/* ======= */
/* GENERAL */
/* ======= */

* {
  font-family: "Symbols Nerd Font Mono", "sans";
  /* font-family: 'Symbols Nerd Font Mono', 'monospace'; */
  font-size: 16px;
  font-weight: 500;
}

button {
  padding: 0;
  outline: 0;
  border-radius: 10px;
  background-color: transparent;
}

button:hover {
  background-color: shade(@theme_base_color, 1.5);
}

.screen-corners {
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0 0 0 10px @theme_base_color;
}

/* ============= */
/* NOTIFICATIONS */
/* ============= */

.notifications .icon {
  margin-right: 0.5em;
}

.notifications .icon image {
  font-size: 3em;
  color: @theme_fg_color;
}

.notifications .icon box {
  min-width: 3em;
  min-height: 3em;
  border-radius: 10px;
}

.notification {
  min-width: 300px;
  padding: 0.5em;
  background-color: @theme_bg_color;
}

.notification .title {
  color: @theme_fg_color;
}

.notification .body {
  color: @theme_unfocused_fg_color;
}

.notifications .notificationbox:last-child .notification {
  border-bottom-left-radius: 10px;
}

/* === */
/* BAR */
/* === */

.bar {
  background-color: @theme_base_color;
  /* background-color: alpha(@theme_base_color, 0.7); */
  /* background-color: transparent; */
  /* min-height: 2em; */
}

.widget {
  color: @theme_text_color;
  background-color: transparent;
  /* background-color: alpha(@theme_text_color, 0.4); */
  border-radius: 10px;
  padding: 0 .4em;
  margin: 0.4em .1em;
}

.symbol {
  font-size: 0.85em;
}

.rightgroup,
.leftgroup {
  margin: 0 .4em;
}

/* ==================== */
/* SPECIFIC BAR WIDGETS */
/* ==================== */

.systray {
  padding: 0 .2em;
}

.systray button {
  font-size: 1em;
  /* padding: 0 0em; */
  /* background-color: white; */
}

.systray button:hover {
  background-color: transparent;
}

.systray .symbol:first-child {
  padding: 0;
}

.media .symbol.playing {
  color: @green_1;
}

.media .symbol.stopped,
.media .symbol.paused {
  color: @red_1;
}

.time .symbol {
  color: @yellow_1;
}

.keyboard .symbol {
  color: @blue_1;
}

.volume .symbol {
  color: @purple_1;
}

.ws button {
  color: alpha(@theme_text_color, 0.5);
  margin: 0 0;
  padding: 0 0.2em;
}

.ws button.occupied {
  color: alpha(@theme_text_color, 0.8);
}

.ws button.active {
  color: alpha(@purple_1, 0.6);
}

.ws button.monitor-active {
  color: @purple_1;
}
